spring:
 application:
  name: discovery-server 

server: 
 port: 9999 
  
 
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false

